* {
    font-size: 16px;
}
body {
    background: whitesmoke;
    text-align: center;
    border: 5px solid black;
    /* background-image: url("mt-rainer.jpg"); */
}

.backgroundContainer {
    opacity: 1;
    margin: 30px;
    border: 2px solid black;
    position: relative;
}


header {
    font-size: 75px;
    /* top: 10%;
    left: 50%;
    transform: translate(-50%, -50%); */
}

img {
    width: 100%;
    opacity: 0.2;
    z-index: -1;
}

.allText {
    opacity: 1;
    z-index: 2;
}

.correctanswer {
    border: 3px solid green;
}

#correctAnswerChosen {
    color: green;
}

li {
    display: block;
    padding: 10px;
    margin: 10px;
}

#questionHolder {
    margin: 20px;
    font-size: 18px;
}

#wrongAnswerChosen {
    color: red;
}

.wronganswer {
    border: 3px solid red;
}